Scrapers/Resources/mesh/model.onnx filter=lfs diff=lfs merge=lfs -text
Scrapers/Resources/mesh/model.onnx.data filter=lfs diff=lfs merge=lfs -text
Scrapers/Resources/mesh/mesh_embeddings.bin filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.onnx.data filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
